PORT=4000
FRONTEND_URL=http://localhost:5173
SUPABASE_URL=https://kavumbilqekhzkzzxnhc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
